VITE_SUPABASE_URL=https://muikqvqyrrbgojpntwxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11aWtxdnF5cnJiZ29qcG50d3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDM1NzUsImV4cCI6MjA5NTYxOTU3NX0.grGD2eusbgqOZhi1W9vOr_ejQKZbBeRS1OiNYRN1GJY
